spring:
  security:
    oauth2:
      client:
        registration:
          github:
            client-id: *****
            client-secret: ******
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope:
              - read:user
              - user:email
        provider:
          github:
            authorization-uri: https://github.com/login/oauth/authorize
            token-uri: https://github.com/login/oauth/access_token
            user-info-uri: https://api.github.com/user
            user-name-attribute: login
  datasource:
    url: jdbc:mysql://localhost:3306/finwallet
    username: root
    password: ******
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

jwt:
  secret: ertyuiOP@#$%&Nmbvcz72bshyhsiAQBV
  expiration: 3600000